h1 {
text-align: center;
font-size: 72px;
color:#FFFF00;
}
nav{
	text-align: center; 
	font-weight: bold;
display: block; 
	color:#FFFF00;
	font-size: 22px;
}
body{ 
	text-align: center;
	color:#FFFF00;
	background-color:#DC143C;
}
.floatleft { float: left; 
           
}